<ul *ngIf="hasInvalidField">
  <cms-validation-summarizer *ngFor="let instance of instances"
                             [instance]="instance.control"
                             [label]="instance.label"
                             [visibility-handler]="visibilityHandler"
                             [group-id]="groupId"
                             [validation-template]="validationSummarizerTemplate">
  </cms-validation-summarizer>
</ul>


<!--Default validation summary template-->
<ng-template
  #validationSummarizerTemplate
  let-ngControl="ngControl"
  let-controlLabel="controlLabel"
  let-validationMessages="validationMessages"
>
  <li *ngFor="let validationMessage of validationMessages;">
    {{validationMessage.content}}
  </li>
</ng-template>
