/* Error: Can't find stylesheet to import.
 *    ,
 * 12 | @import '~bootstrap/scss/bootstrap';
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles.scss 12:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 12 \2502  @import '~bootstrap/scss/bootstrap';\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles.scss 12:9  root stylesheet";
}
