<!--Multi-kind banner-->
<div class="row">
  <div class="col-12">
    <div class="card form-group">
      <div class="card-body">

        <!--Container to display banner-->
        <div>-------------------------------------------------------</div>
        <small>Child will be displayed here</small>
        <cms-banner [id]="childBannerId"></cms-banner>
        <div>-------------------------------------------------------</div>

        <h5 class="card-title">{{'BANNER_DEMO.CHILD_BANNER.NESTED_BANNER' | translate}}</h5>
        <div class="card-text">
          <ul>
            <li [innerHTML]="'BANNER_DEMO.CHILD_BANNER.BANNER_SETTING_CAN_BE_NESTED' | translate"></li>
            <li [innerHTML]="'BANNER_DEMO.CHILD_BANNER.BANNER_SETTING_WILL_BE_EXTENDED' | translate"></li>
            <li [innerHTML]="'BANNER_DEMO.CHILD_BANNER.BANNER_SERVICE_WILL_BE_A_NEW_INSTANCE' | translate"></li>
          </ul>
        </div>
        <button class="btn btn-primary mr-1"
                type="button"
                (click)="displayChildBanner()">{{'BANNER_DEMO.CHILD_BANNER.DISPLAY_BANNER' | translate}}</button>

        <button class="btn btn-danger"
                type="button"
                (click)="deleteChildBannerMessages()">
          {{'BANNER_DEMO.CHILD_BANNER.DELETE_ALL_MESSAGES' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
