<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       href="#"
       [routerLinkActive]="'active'"
       [routerLink]="validationSummarizerDemoScreenCodes.withBasicValidator | toUrlTree | toUrl"
       [routerLinkActiveOptions]="{exact: true}"
       (click)="$event.preventDefault()">
      {{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR'}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       href="#"
       [routerLinkActive]="'active'"
       [routerLink]="validationSummarizerDemoScreenCodes.withMessageTemplate | toUrlTree | toUrl"
       (click)="$event.preventDefault()">
      {{'VALIDATION_SUMMARIZER_DEMO.MESSAGE_TEMPLATE'}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       href="#"
       [routerLinkActive]="'active'"
       [routerLink]="validationSummarizerDemoScreenCodes.withVisibilityHandler | toUrlTree | toUrl"
       (click)="$event.preventDefault()">
      {{'VALIDATION_SUMMARIZER_DEMO.VISIBILITY_HANDLER'}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       href="#"
       [routerLinkActive]="'active'"
       [routerLink]="validationSummarizerDemoScreenCodes.withTemplateDriven | toUrlTree | toUrl"
       (click)="$event.preventDefault()">
      {{'VALIDATION_SUMMARIZER_DEMO.TEMPLATE_DRIVEN'}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       href="#"
       [routerLinkActive]="'active'"
       [routerLink]="validationSummarizerDemoScreenCodes.withCustomValidator | toUrlTree | toUrl"
       (click)="$event.preventDefault()">
      {{'VALIDATION_SUMMARIZER_DEMO.CUSTOM_VALIDATOR'}}
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
