<!--Basic validation summarizer-->
<div class="row"
     [formGroup]="studentForm">
  <div class="col-12">
    <div class="form-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Basic validation summarizer</h5>
          <div class="card-text">
            <ul>
              <li>Validation summarizer can be placed under a specific control</li>
              <li>It retrieves control errors and display them on the screen.</li>
            </ul>
          </div>
          <div class="jumbotron">
            <div class="row">
              <div class="col-lg-12">

                <!--Name-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.NAME'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         name="studentName"
                         [formControl]="studentNameControl">

                  <cms-validation-summarizer [control-instance]="studentNameControl"
                                             control-label="VALIDATION_SUMMARIZER_DEMO.NAME">
                  </cms-validation-summarizer>
                </div>

                <!--Age-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.AGE'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         [formControl]="studentAgeControl">

                  <cms-validation-summarizer [control-instance]="studentAgeControl"
                                             control-label="VALIDATION_SUMMARIZER_DEMO.AGE">
                  </cms-validation-summarizer>
                </div>

                <!--Security number-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.SECURITY_NUMBER'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         [formControl]="securityNoControl">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"
     [formGroup]="studentForm">
  <div class="col-12">
    <div class="form-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Summarizer with custom validator</h5>
          <div class="card-text">
            <ul>
              <li>This validation summarizer also supports custom validation rule.</li>
              <li>Additional message mapping must be defined to be displayed onto screen.</li>
              <li>For more information, please input value which is smaller than 10 into Age field.</li>
            </ul>
          </div>
          <div class="jumbotron">
            <div class="row">
              <div class="col-lg-12">

                <!--Name-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.NAME'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         name="studentName"
                         [formControl]="customerNameControl">

                  <cms-validation-summarizer [control-instance]="customerNameControl"
                                             control-label="VALIDATION_SUMMARIZER_DEMO.NAME">
                  </cms-validation-summarizer>
                </div>

                <!--Age-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.AGE'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         [formControl]="customerAgeControl">

                  <cms-validation-summarizer [control-instance]="customerAgeControl"
                                             control-label="VALIDATION_SUMMARIZER_DEMO.AGE">
                  </cms-validation-summarizer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
