<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3>First Slide</h3>
          <p>This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Slide</h3>
          <p>This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third Slide</h3>
          <p>This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <h1 class="my-4">UI controls</h1>

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{'LANDING_PAGE.SPINNER'}}</h4>
        <div class="card-body">
          <p class="card-text">{{'LANDING_PAGE.SPINNER_DEMO_DESCRIPTION'}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary"
             (click)="$event.preventDefault(); accessSpinnerDemoPage()">
            {{'LANDING_PAGE.LEARN_MORE'}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{'LANDING_PAGE.BANNER'}}</h4>
        <div class="card-body">
          <p class="card-text">{{'LANDING_PAGE_BANNER_DESCRIPTION'}}</p>
        </div>
        <div class="card-footer">
          <a href="#"
             class="btn btn-primary"
             (click)="$event.preventDefault(); accessBannerDemoPage()">{{'LANDING_PAGE.LEARN_MORE'}}</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{'LANDING_PAGE.SMART_NAVIGATOR'}}</h4>
        <div class="card-body">
          <p class="card-text">{{'LANDINAGE_PAGE.SMART_NAVIGATOR_DESCRIPTION'}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">{{'LANDING_PAGE.LEARN_MORE'}}</a>
        </div>
      </div>
    </div>

    <!--Modal dialog-->
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{'LANDING_PAGE.DIALOG'}}</h4>
        <div class="card-body">
          <p class="card-text">{{'LANDING_PAGE_PAGE.DIALOG_DESCRIPTION'}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">{{'LANDING_PAGE.LEARN_MORE'}}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
