:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

::ng-deep .page {
  display: block;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-y: hidden;
}
