<!--<ng-container *ngIf="ngControl">-->
<!--  <ng-container *ngIf="ngControl.invalid && (ngControl.dirty || ngControl.touched)">-->
<!--    <ng-template [ngTemplateOutlet]="alternativeTemplate || defaultTemplate"-->
<!--                 [ngTemplateOutletContext]="templateContext">-->
<!--    </ng-template>-->
<!--  </ng-container>-->
<!--</ng-container>-->

<ng-container *ngIf="shouldValidationMessageDisplayed(ngControl)">
  <ng-template [ngTemplateOutlet]="alternativeTemplate || defaultTemplate"
               [ngTemplateOutletContext]="templateContext">
  </ng-template>
</ng-container>

<!--Default validation summary template-->
<ng-template #defaultTemplate let-ngControl="ngControl"
             let-controlLabel="controlLabel"
             let-validationKey="validationKey"
             let-validationMessages="validationMessages">
  <ul class="default"
      *ngIf="validationMessages && validationMessages.length">
    <li *ngFor="let validationMessage of validationMessages;">
      {{validationMessage}}
    </li>
  </ul>
</ng-template>
