<div class="tree">
  <ul>
    <li *ngFor="let item of items">
      <i class="fa fa-folder-open"></i>
      <span>&nbsp;</span>
      <a href="#" (click)="$event.preventDefault();">
        {{(item.name || '') | translate}}
      </a>
      <ul *ngIf="item.sections && item.sections.length">
        <li *ngFor="let section of item.sections">
          <i class="fa fa-folder-open"></i>
          <span>&nbsp;</span>
          <a href="#" (click)="$event.preventDefault();">
            {{section.name| translate}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
