<div class="tree">
  <ng-template [ngTemplateOutlet]="treeViewItemTemplate"
               [ngTemplateOutletContext]="{$implicit: items}">
  </ng-template>
</div>

<ng-template #treeViewItemTemplate
             let-items>
  <ul>
    <li *ngFor="let item of items">
      <i class="fa fa-folder-open"></i>
      <span>&nbsp;</span>
      <a [routerLink]="item.routerLink"
         [routerLinkActive]="item.routerLinkActive"
         [routerLinkActiveOptions]="item?.routerLinkActiveOptions || {}">
        {{item.title | translate}}
      </a>
      <ng-container *ngIf="item.children && item.children.length">
        <ng-template [ngTemplateOutlet]="treeViewItemTemplate"
                     [ngTemplateOutletContext]="{$implicit: item.children}">
        </ng-template>
      </ng-container>
    </li>
  </ul>
</ng-template>
