<!--Basic spinner-->
<div class="row form-group">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Navigation by using <i><b>Screen Code</b></i></h5>
        <p class="card-text">Spinner can be displayed onto a component to block the inner content from being
          accessed</p>

        <div class="form-group">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link"
                 href="#"
                 [routerLink]="loadRawUrl(ScreenCodes.smartNavigatorTab01Demo)"
                 [routerLinkActive]="'active'"
                 (click)="$event.preventDefault();">Tab 01</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="#"
                 [routerLink]="loadRawUrl(ScreenCodes.smartNavigatorTab02Demo)"
                 [routerLinkActive]="'active'"
                 (click)="$event.preventDefault();">Tab 02</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="#"
                 [routerLink]="ScreenCodes.smartNavigatorTab03Demo | toUrlTree | toUrl"
                 [routerLinkActive]="'active'"
                 [routerLinkActiveOptions]="{exact: true}"
                 (click)="$event.preventDefault();">Tab 03</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="#"
                 [routerLink]="ScreenCodes.smartNavigatorTab03Demo | toUrlTree | toUrl"
                 [queryParams]="fourthTabNavigationRequest.extras?.queryParams"
                 [routerLinkActive]="'active'"
                 [routerLinkActiveOptions]="{exact: true}"
                 (click)="$event.preventDefault();">Tab 03 (with params)</a>
            </li>
          </ul>
        </div>

        <router-outlet></router-outlet>

        <!--        <p>Make spinner disappear after {{timeOutInSecond}} seconds. Timeout can be used to achieve this</p>-->
        <!--        <button class="btn btn-primary"-->
        <!--                type="button"-->
        <!--                (click)="displaySpinnerOnComponent()">{{'SPINNER_DEMO.DISPLAY_SPINNER'}}</button>-->
      </div>
    </div>
  </div>
</div>
