<!-- Page Heading/Breadcrumbs -->
<h1 class="title pt-1 pb-1 bg-light">{{title | translate}}
<!--  <small>{{secondaryTitle | translate}}</small>-->
</h1>

<!-- Content Row -->
<div class="d-flex flex-grow-1 flex-shrink-1 overflow-y-hidden">
  <!-- Sidebar Column -->
  <div class="col-lg-3 col-md-4 pe-0 scrollable-y">
    <ng-template #demoItemsLayout></ng-template>
  </div>

  <!-- Content Column -->
  <div class="col-lg-9 col-md-8 ps-0 scrollable-y pt-1">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- /.row -->
