<!--Summarizer with visibility handler-->
<div class="row"
     [formGroup]="productForm">
  <div class="col-12">
    <div class="form-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Summarizer with visibility handler</h5>
          <div class="card-text">
            <ul>
              <li>Visibility handler can be used for deciding whether validation messages can be visible or not</li>
              <li>If no handler is used, service handler will be used instead.</li>
              <li>Component handler has higher priority than the service one</li>
            </ul>
          </div>
          <div class="jumbotron">

            <div class="row">
              <div class="col-lg-12">
                <!--Name-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.NAME'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         name="productName"
                         [formControl]="productNameControl">

                  <cms-validation-summarizer [instance]="productNameControl"
                                             [visibility-handler]="visibilityHandler"
                                             label="VALIDATION_SUMMARIZER_DEMO.NAME">
                  </cms-validation-summarizer>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <label>{{'VALIDATION_SUMMARIZER_DEMO.VISIBLE'}}</label>
                <div class="form-group">
                  <select class="form-control"
                          [formControl]="handlerVisibleControl">
                    <option *ngFor="let item of visibilityOptions"
                            [ngValue]="item.value">{{item.key}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
