<!--Summarizer with visibility handler-->
<div class="row"
     [formGroup]="productFormGroup">
  <div class="col-12">
    <div class="form-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Summarizer with visibility handler</h5>
          <div class="card-text">
            <ul>
              <li>Visibility handler can be used for deciding whether validation messages can be visible or not</li>
              <li>If no handler is used, service handler will be used instead.</li>
              <li>Component handler has higher priority than the service one</li>
            </ul>
          </div>
          <div class="jumbotron">

            <div class="row">
              <div class="col-lg-12">
                <!--Name-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.NAME'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         name="productName"
                         [formControl]="nameControl">

                  <cms-validation-summarizer [instance]="nameControl"
                                             label="VALIDATION_SUMMARIZER_DEMO.NAME"
                                             [validation-template]="validationTemplate">
                  </cms-validation-summarizer>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <label>{{'VALIDATION_SUMMARIZER_DEMO.QUANTITY'}}</label>
                <div class="form-group">
                  <input class="form-control"
                         name="productName"
                         [formControl]="quantityControl">

                  <cms-validation-summarizer [instance]="quantityControl"
                                             label="VALIDATION_SUMMARIZER_DEMO.QUANTITY"
                                             [validation-template]="validationTemplate">
                  </cms-validation-summarizer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #validationTemplate
             let-ngControl="ngControl"
             let-controlLabel="controlLabel"
             let-validationMessages="validationMessages">
  <ul>
    <li *ngFor="let validationMessage of validationMessages">
      <span class="text-danger fas fa-user"></span>&nbsp;

      <ng-container [ngSwitch]="validationMessage.key">
        <ng-container *ngSwitchCase="'required'"><b>(CUSTOM) {{controlLabel}}</b> is required</ng-container>
        <ng-container *ngSwitchCase="'maxlength'"><b>(CUSTOM) {{controlLabel}}</b>'s maxlength exceeded</ng-container>
        <ng-container *ngSwitchCase="'minlength'"><b>(CUSTOM) {{controlLabel}}</b>'s minlength not met. Expect: {{validationMessage.additionalValue.minlength}}</ng-container>
        <ng-container *ngSwitchCase="'min'"><b>(CUSTOM) {{controlLabel}}</b>'s value must be &gt;= {{validationMessage.additionalValue.min}}</ng-container>
        <ng-container *ngSwitchCase="'max'"><b>(CUSTOM) {{controlLabel}}</b>'s value must be &lt;= {{validationMessage.additionalValue.max}}</ng-container>
      </ng-container>

    </li>
  </ul>
</ng-template>
