<!--Basic banner-->
<div class="row">
  <div class="col-12">
    <div class="card form-group">
      <div class="card-body">

        <!--Container to display banner-->
        <cms-banner-container [id]="insideComponentBannerId"></cms-banner-container>

        <h5 class="card-title">Basic banner</h5>
        <p class="card-text">Banner will be displayed wherever the container is placed.</p>
        <button class="btn btn-primary"
                type="button"
                (click)="displayBanner()">{{'BANNER_DEMO.DISPLAY_BANNER'}}</button>
      </div>
    </div>
  </div>
</div>

<!--Timeout banner-->
<div class="row">
  <div class="col-12">
    <div class="card form-group">
      <div class="card-body">

        <!--Container to display banner-->
        <cms-banner-container [id]="timeoutBannerId"></cms-banner-container>

        <h5 class="card-title">Timeout banner</h5>
        <div class="card-text">
          <ul>
            <li>Banner will be displayed wherever the container is placed.</li>
            <li>Action will be taken when timeout occurs.</li>
          </ul>
        </div>
        <button class="btn btn-primary"
                type="button"
                (click)="displayTimeoutBanner()">{{'BANNER_DEMO.DISPLAY_BANNER'}}</button>
      </div>
    </div>
  </div>
</div>

<!--Stackable banner-->
<div class="row">
  <div class="col-12">
    <div class="card form-group">
      <div class="card-body">

        <!--Container to display banner-->
        <div>-------------------------------------------------------</div>
        <small>Banner will be displayed here</small>
        <cms-banner-container [id]="stackableBannerId"></cms-banner-container>
        <div>-------------------------------------------------------</div>

        <h5 class="card-title">Stackable banner</h5>
        <div class="card-text">
          <ul>
            <li>Multiple messages can be stackable</li>
            <li>When a banner is dismissed, the next one will be displayed.</li>
            <li>When the last banner is dismissed, nothing will be displayed.</li>
          </ul>
        </div>
        <button class="btn btn-primary mr-1"
                type="button"
                (click)="displayStackableBanner()">{{'BANNER_DEMO.DISPLAY_BANNER'}}</button>

        <button class="btn btn-danger"
                type="button"
                (click)="deleteStackableBannerMessages()">
          {{'BANNER_DEMO.DELETE_ALL_MESSAGES'}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--Queued banner-->
<div class="row">
  <div class="col-12">
    <div class="card form-group">
      <div class="card-body">

        <!--Container to display banner-->
        <div>-------------------------------------------------------</div>
        <small>Banner will be displayed here</small>
        <cms-banner-container [id]="queuedBannerId" [query-mode]="'dequeue'"></cms-banner-container>
        <div>-------------------------------------------------------</div>

        <h5 class="card-title">Queue banner</h5>
        <div class="card-text">
          <ul>
            <li>Multiple messages can be queued</li>
            <li>When a banner is dismissed, the next one will be dequeued and displayed.</li>
            <li>When the last banner is dismissed, nothing will be displayed.</li>
          </ul>
        </div>
        <button class="btn btn-primary mr-1"
                type="button"
                (click)="displayQueuedBanner()">{{'BANNER_DEMO.DISPLAY_BANNER'}}</button>

        <button class="btn btn-danger"
                type="button"
                (click)="deleteQueuedBannerMessages()">
          {{'BANNER_DEMO.DELETE_ALL_MESSAGES'}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--Multi-kind banner-->
<div class="row">
  <div class="col-12">
    <div class="card form-group">
      <div class="card-body">

        <!--Container to display banner-->
        <div>-------------------------------------------------------</div>
        <small>Banner will be displayed here</small>
        <cms-banner-container [id]="multiKindBannerId"></cms-banner-container>
        <div>-------------------------------------------------------</div>

        <h5 class="card-title">Multi-kind banner</h5>
        <div class="card-text">
          <ul>
            <li>Multiple messages can be queued</li>
            <li>When a banner is dismissed, the next one will be dequeued and displayed.</li>
            <li>When the last banner is dismissed, nothing will be displayed.</li>
          </ul>
        </div>
        <button class="btn btn-primary mr-1"
                type="button"
                (click)="displayMultiKindBanner()">{{'BANNER_DEMO.DISPLAY_BANNER'}}</button>

        <button class="btn btn-danger"
                type="button"
                (click)="deleteMultiKindBannerMessages()">
          {{'BANNER_DEMO.DELETE_ALL_MESSAGES'}}
        </button>
      </div>
    </div>
  </div>
</div>
