<!--Summarizer with custom validator-->
<div class="row"
     [formGroup]="customerForm">
  <div class="col-12">
    <div class="form-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Summarizer with custom validator</h5>
          <div class="card-text">
            <ul>
              <li>This validation summarizer also supports custom validation rule.</li>
              <li>Additional message mapping must be defined to be displayed onto screen.</li>
              <li>For more information, please input value which is smaller than 10 into Age field.</li>
            </ul>
          </div>
          <div class="jumbotron">
            <div class="row">
              <div class="col-lg-12">

                <!--Name-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.NAME' | translate}}</label>
                <div class="form-group">
                  <input class="form-control"
                         name="studentName"
                         [formControl]="customerNameControl">

                  <cms-validation-summarizer [instance]="customerNameControl"
                                             label="VALIDATION_SUMMARIZER_DEMO.NAME">
                  </cms-validation-summarizer>
                </div>

                <!--Age-->
                <label>{{'VALIDATION_SUMMARIZER_DEMO.AGE' | translate}}</label>
                <div class="form-group">
                  <input class="form-control"
                         type="number"
                         [formControl]="customerAgeControl">

                  <cms-validation-summarizer [instance]="customerAgeControl"
                                             label="VALIDATION_SUMMARIZER_DEMO.AGE">
                  </cms-validation-summarizer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
