<!--Basic validation summarizer-->
<div class="row"
     [formGroup]="studentForm">
  <div class="col-12">
    <p class="lead mt-5">
     {{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR' | translate}}
    </p>
    <div class="row my-4">
      <div class="col-lg-3 col-md-4">
        <div class="list-group">
          <a (click)="scrollToItem('description')"
             class="list-group-item list-group-item-action"
          [class]="currentItem === 'description' ? 'list-group-item-primary' : 'list-group-item-light'">
            {{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR_HOW_IT_WORK' | translate}}
          </a>
          <a (click)="scrollToItem('examples')"
             class="list-group-item list-group-item-action"
             [class]="currentItem === 'examples' ? 'list-group-item-primary' : 'list-group-item-light'">
            {{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR_EXAMPLES' | translate}}
          </a>
          <a (click)="scrollToItem('api')"
             class="list-group-item list-group-item-action"
             [class]="currentItem === 'api' ? 'list-group-item-primary' : 'list-group-item-light'">
            {{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR_API' | translate}}
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <section #description>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR_HOW_IT_WORK' | translate}}
              </h5>
              <div class="card-text">
                <ul>
                  <li>Validation summarizer can be placed under a specific control</li>
                  <li>It retrieves control errors and display them on the screen.</li>
                  <li>Using 'cms-validation-summarizer' selector.</li>
                </ul>
              </div>
              <h5 class="card-title">{{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR' | translate}}</h5>
              <div class="jumbotron">
                <div class="row">
                  <div class="col-lg-12">


                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mt-3" #examples>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{'VALIDATION_SUMMARIZER_DEMO.BASIC_VALIDATOR_EXAMPLES' | translate}}
              </h5>
              <div class="jumbotron">
                <div class="row">
                  <div class="col-lg-12">

                    <!--Name-->
                    <label>{{'VALIDATION_SUMMARIZER_DEMO.NAME' | translate}}</label>
                    <div class="form-group">
                      <input class="form-control"
                             name="studentName"
                             [formControl]="studentNameControl">

                      <cms-validation-summarizer [instance]="studentNameControl"
                                                 label="VALIDATION_SUMMARIZER_DEMO.NAME">
                      </cms-validation-summarizer>
                    </div>

                    <!--Age-->
                    <label>{{'VALIDATION_SUMMARIZER_DEMO.AGE' | translate}}</label>
                    <div class="form-group">
                      <input class="form-control"
                             [formControl]="studentAgeControl">

                      <cms-validation-summarizer [instance]="studentAgeControl"
                                                 label="VALIDATION_SUMMARIZER_DEMO.AGE">
                      </cms-validation-summarizer>
                    </div>

                    <!--Security number-->
                    <label>{{'VALIDATION_SUMMARIZER_DEMO.SECURITY_NUMBER' | translate}}</label>
                    <div class="form-group">
                      <input class="form-control"
                             [formControl]="securityNoControl">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mt-3" #api>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Properties
              </h5>
              <table class="is-full-width list-table property-table">
                <thead>
                <tr>
                  <th>Property</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                  <tr class="instance-property">
                    <td>
                      <code>
                        <span class="property-binding">@Input()</span>
                        <br>
                        <span class="member-name"> </span>: (U &amp; T[]) | (U &amp; Iterable&lt;T&gt;)
                      </code>
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <code>
                        <span class="property-binding">@Input()</span>
                        <br>
                        <span class="member-name">  </span>: (U &amp; T[]) | (U &amp; Iterable&lt;T&gt;)
                      </code>
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <code>
                        <span class="property-binding">@Input()</span>
                        <br>
                        <span class="member-name">  </span>: (U &amp; T[]) | (U &amp; Iterable&lt;T&gt;)
                      </code>
                    </td>
                    <td>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
