<!-- Page Content -->
<div class="container">
  <ng-container *ngFor="let category of categories">
    <h2 class="my-4">{{category.name}}</h2>
    <div class="row">
      <div class="col-lg-4 mb-4"
           *ngFor="let uiModule of category.uiModules">
        <div class="card h-100">
          <h4 class="card-header">{{uiModule.name}}</h4>
          <div class="card-body">
            <p class="card-text">{{uiModule.description}}</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary"
               [routerLink]="screenCodes.uiModule | toUrlTree: {id: uiModule.id} | toUrl">
              {{'LANDING_PAGE.LEARN_MORE' | translate | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
